
/*----------------- STYLES APPEARING ON MULTIPLE PAGES -----------------*/

@import url('https://fonts.googleapis.com/css?family=Dancing+Script:700|Raleway:800|Roboto+Slab&display=swap');

html {
  scroll-behavior: smooth; /*- <--- not compatible with some browsers -*/
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    background-color: #1e1e1e;
}

h1 {
    font-family: "Dancing script", sans-serif;
    font-size: 3.5rem !important;
    font-weight: 700;
    text-align: center;
    min-height: 40px;
    height: auto;
    padding: 2% 0 2% 0;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.5);
}

.subtitle {
    font-family: "raleway", serif;
    text-transform: uppercase;
    text-align: center;
    padding: 3% 0 3% 0;
    margin: 5% 0 0 0;
    display: inline-block;
    width: 100%;
    min-height: 15px;
    height: auto;
    background-color: #00304A;
    color: #FFFFFF;
}

.gap-fix {
    margin-top: 5% !important;
    border-top: 0 !important;
}

.sub-box {
    font-family: "raleway", serif;
    text-transform: uppercase;
    background-color: #1B3E00;
    height: auto;
    border: 5px solid #1e1e1e;
    line-height: 100%;
    margin-top: 3%;
    min-height: 10px;
    height: auto;
    color: #FFFFFF;
    text-decoration: none;
}

.black-text {
    color: black;
}

.white-text {
    color: #FFFFFF;
}

footer {
    min-height: 20%;
    height: auto;
    display: block;
    bottom: 0;
    position: relative;
}

.footer {
    display: inline-block;
    margin-top: 5%;
    width: 100%;
    min-height: 100%;
    height: auto;
    background-color: #141414;
}

.back-top:hover {
    text-decoration: underline;
}

.fa-lg {
    font-size: 2.33333em !important;
}

.centerer {
    height: 100%;
    text-align: center;
    font-family: "Roboto Slab", serif;
}

.align-center {
    text-align: center;
}

.title-font {
    font-family: "raleway", serif;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    padding: 0;
    margin: 0;
}

.footer-div {
    padding: 2%;
}

.left-align {
    text-align: left;
}

.inline {
    display: inline-block;
}

.no-deco {
    text-decoration: none;
}

.no-deco:hover {
    text-decoration: none;
}

/*----------------- MAIN NAV ITEM -----------------*/

ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0 !important;
}

.navigation-item {
    font-family: "raleway", serif;
    text-transform: uppercase;
    background-color: #FFFFFF;
    float: left;
    text-align: center;
    border-radius: 10px;
    border: 5px solid #1e1e1e;
}

/*note: some styles (like the one above) use border instead of margin
to fix an issue I believed to be with Bootstrap's columns not working
with margin, but I now think it was actually the fault of Google Chrome's
"inspect" function. */

.navigation-item:hover {
    text-decoration: none;
    background-color: #383838;
    color: #FFFFFF;
}

.navigation-menu {
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 10px;
    border: 5px solid #1e1e1e;
    width: 90%;
    margin: 0 5% 0 5%;
}

.no-margin {
    margin-top: 0 !important;
}

.desktop-nav {
    display: none;
}

.navigation-menu:hover {
    text-decoration: none;
    background-color: #383838;
    color: #FFFFFF;
    text-align: center;
}

input {
    display: none;
}

ul.submenu {
    max-height: 0;
    overflow: hidden;
}

label {
    position: relative;
    display: block;
    cursor: pointer;
}

input:checked~ul.submenu {
    max-height: 300px;
}

.burger-icon {
    margin: 1% 2% 0 2%;
    display: inline-block;
    float: right;
}

.h5-copy {
    font-size: 1.25rem;
    line-height: 1.2;     /*I use this to copy the styling on an h5, because I want to use it as*/
}                           /*the child of a <label> element, but a h5 can not be used as such*/

/*----------------- HOMEPAGE STYLE -----------------*/

.blurb {
    margin: 5% 2% 0 2%;
    display: inline-block;
    text-align: center;
    width: 96%;
    height: auto;
    background-color: #4A0030;
    padding: 0 2% 0 2%;
}

.alt-link {
    margin: 1% 2% 0% 2%;
    display: inline-block;
    text-align: center;
    width: 96%;
    min-height: 20px;
    height: auto;
    background-color: #2D2D2D;
    color: #FFFFFF;
    text-transform: capitalize;
}

.title-link {
    font-family: "raleway", serif;
    text-transform: uppercase;
    background-color: #1B3E00;
    height: auto;
    border: 5px solid #1e1e1e;
    line-height: 100%;
    margin-top: 3%;
    min-height: 15px;
    color: #FFFFFF;
    text-decoration: none;
}

.title-link:hover {
    background-color: #1C3906;
    color: #FFFFFF;
    text-decoration: none;
}

/*----------------- MENU STYLE -----------------*/

.small-link {
    font-family: "raleway", serif;
    text-transform: uppercase;
    line-height: 100%;
    display: inline-block;
    text-align: center;
    height: auto;
    background-color: #4A0030;
    border-radius: 10px;
    border: 5px solid #1e1e1e;
    color: #FFFFFF;
}

.small-link:hover {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #320121;
}

.food {
    width: 34%;
    float: left;
    padding: 0;
}

.food-desc {
    width: 46%;
    float: left;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.food-cost {
    width: 20%;
    float: left;
}

.vert-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/*The above code is not my own - see the README for credits.
I had some trouble with it, but eventually made it work by placing the
elements it styles inside specific containers - anything with "height: auto;"
would break this style*/

.menu-h1-background {
    background-image: url("./images/menu-h1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: auto;
}

/*----------------- EVENTS STYLE -----------------*/

.img-text {
    background-color: #304A00;
    height: auto;
    border-bottom: 5px solid #1e1e1e;
    border-right: 5px solid #1e1e1e;
    border-left: 5px solid #1e1e1e;
    line-height: 100%;
}

.image {
    height: auto;
    width: 96%;
    margin: 2% 2% 0 2%;
    background-color: #FFFFFF;
    overflow: hidden;
}

.spacer {
    margin-top: 5%;
}

.events-h1-background {
    background-image: url("./images/events-h1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: auto;
}

.moth-day {
    background-image: url("./images/moth-day.jpg");
}

.fath-day {
    background-image: url("./images/fath-day.jpg");
}

.christmas {
    background-image: url("./images/christmas.png");
}

.easter {
    background-image: url("./images/easter.jpg");
}

.events-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    width: 290px;
}

/*----------------- PRODUCE STYLE -----------------*/

.produce {
    padding: 0 3% 0 3%;
}

.produce-h1-background {
    background-image: url("./images/produce-h1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: auto;
}

/*----------------- CONTACTS STYLE -----------------*/

.contacts-h1-background {
    background-image: url("./images/contacts-h1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: auto;
}

.map {
    width: 90%;
    height: 85%;
    margin: 0 5% 0 5%;
}

/*----------------- HISTORY STYLE -----------------*/

.history {
    margin: 5% 2% 0 2%;
    display: inline-block;
    text-align: center;
    width: 96%;
    min-height: 50%;
    height: auto;
    background-color: #4A0030;
    padding: 0 2% 0 2%;
}

.index-h1-background {
    background-image: url("./images/index-h1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: auto;
}

.history-img-one {
    background-image: url("./images/history-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 250px;
}

.history-img-two {
    background-image: url("./images/history-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 250px;
}

/*----------------- TABLET MEDIA QUERIES -----------------*/

@media (min-width: 768px) {
    .footer {
        margin-top: 3%;
    }
    .history {
        margin-top: 3%;
    }
    .blurb {
        margin-top: 3%;
    }
    .alt-link {
        margin-top: 1%;
    }
    .subtitle {
        margin-top: 2.5%;
        padding: 1% 0 1% 0;
    }
    .gap-fix {
    margin-top: 2.5% !important;
}
    .spacer {
        margin-top: 3%;
    }
    .sub-box {
        margin-top: 2%;
    }
    .history-img-one {
        height: 400px;
        width: 450px;
    }
    .history-img-two {
        height: 500px;
        width: 550px;
    }
    .events-img {
        height: 190px;
        width: 730px;
    }
}

/*----------------- DESKTOP MEDIA QUERIES -----------------*/

@media (min-width: 992px) {
    .desktop-nav {
        display: block;
    }
    .dropdown-vis {
        display: none;
    }
    .footer {
        margin-top: 2%;
    }
    .history {
        margin-top: 1%;
    }
    .blurb {
        margin-top: 1%;
    }
    .alt-link {
        margin-top: 0.5%;
    }
    .subtitle {
        margin-top: 1%;
    }
    .gap-fix {
    margin-top: 1% !important;
}
    .spacer {
        margin-top: 1%;
    }
    .sub-box {
        margin-top: 0.5%;
    }
    .history-img-one {
        margin: 2% 2% 2% 2%;
        float: left;
    }
    .history-img-two {
        margin: 2% 2% 2% 2%;
        float: right;

    }
    .events-img {
        height: 230px;
        width: 1220px;
    }
}
