/*----------------- STYLES APPEARING ON MULTIPLE PAGES -----------------*/

.bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    background-color: #1e1e1e;
}

h1 {
    background-color: #FFFFFF;
    text-align: center;
    min-height: 40px;
    height: auto;
    padding: 2% 0 2% 0;
}

.subtitle {
    text-align: center;
    padding: 3% 0 3% 0;
    margin: 5% 0 0 0;
    display: inline-block;
    width: 100%;
    min-height: 15px;
    height: auto;
    background-color: #00304A
}

.black-text {
    color: black;
}

footer {
    min-height: 20%;
    height: auto;
    display: block;
    bottom: 0;
    position: relative;
}

.footer {
    display: inline-block;
    margin-top: 5%;
    width: 100%;
    min-height: 100%;
    height: auto;
    background-color: #60D300;
}

.centerer {
    height: 100%;
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    padding: 0;
    margin: 0;
}

.footer-div {
    padding: 2%;
}

.left-align {
    text-align: left;
}

/*----------------- MAIN NAV ITEM -----------------*/

.navigation-item {
    background-color: #ABCDEF;
    float: left;
    text-align: center;
    border-radius: 10px;
    border: 5px solid #1e1e1e;
}

/*----------------- HOMEPAGE STYLE -----------------*/

.history {
    margin: 5% 2% 0 2%;
    display: inline-block;
    text-align: center;
    width: 96%;
    min-height: 50%;
    height: auto;
    background-color: #FF7400;
}

.alt-link {
    margin: 1% 2% 0% 2%;
    display: inline-block;
    text-align: center;
    width: 96%;
    min-height: 5%;
    height: auto;
    background-color: #FF0000;
}

/*----------------- MENU STYLE -----------------*/

.small-link {
    line-height: 100%;
    display: inline-block;
    text-align: center;
    height: auto;
    background-color: #4A0030;
    border-radius: 10px;
    border: 5px solid #1e1e1e;
    color: #FFFFFF;
}

.food {
    width: 30%;
    float: left;
    padding: 0;
}

.food-desc {
    width: 50%;
    float: left;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 5% 5% 0 5%;
}

.food-cost {
    width: 20%;
    float: left;
    padding: 5% 5% 0 5%;
}

.spacer {
    margin-top: 5%;
}

.vert-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/*----------------- EVENTS STYLE -----------------*/

.sub-box {
    background-color: #304A00;
    height: auto;
    border: 5px solid #1e1e1e;
    line-height: 100%;
    margin-top: 3%;
}

/*----------------- TABLET MEDIA QUERIES -----------------*/

@media (min-width: 768px) {
    .footer {
        margin-top: 3%;
    }
    .history {
        margin-top: 3%;
    }
    .alt-link {
        margin-top: 1%;
    }
    .subtitle {
        margin-top: 2.5%;
        padding: 1% 0 1% 0;
    }
    .spacer {
        margin-top: 3%;
    }
    .sub-box {
        margin-top: 2%;
    }
}

/*----------------- DESKTOP MEDIA QUERIES -----------------*/

@media (min-width: 992px) {
    .footer {
        margin-top: 2%;
    }
    .history {
        margin-top: 1%;
    }
    .alt-link {
        margin-top: 0.5%;
    }
    .subtitle {
        margin-top: 1%;
    }
    .spacer {
        margin-top: 1%;
    }
    .sub-box {
        margin-top: 0.5%;
    }
}
